In [4]:
import pandas as pd

df = pd.read_csv("../src/taxipred/data/taxi_trip_pricing.csv")
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Trip_Distance_km,950.0,27.070547,19.905300,1.2300,12.63250,25.8300,38.40500,146.067047
Passenger_Count,950.0,2.476842,1.102249,1.0000,1.25000,2.0000,3.00000,4.000000
Base_Fare,950.0,3.502989,0.870162,2.0100,2.73000,3.5200,4.26000,5.000000
Per_Km_Rate,950.0,1.233316,0.429816,0.5000,0.86000,1.2200,1.61000,2.000000
Per_Minute_Rate,950.0,0.292916,0.115592,0.1000,0.19000,0.2900,0.39000,0.500000
Trip_Duration_Minutes,950.0,62.118116,32.154406,5.0100,35.88250,61.8600,89.05500,119.840000
Trip_Price,951.0,56.874773,40.469791,6.1269,33.74265,50.0745,69.09935,332.043689

In [7]:
df.shape

(1000, 11)

In [8]:
df.columns

Index(['Trip_Distance_km', 'Time_of_Day', 'Day_of_Week', 'Passenger_Count',
       'Traffic_Conditions', 'Weather', 'Base_Fare', 'Per_Km_Rate',
       'Per_Minute_Rate', 'Trip_Duration_Minutes', 'Trip_Price'],
      dtype='object')

In [9]:
df["Trip_Price"].unique()

array([ 36.2624    ,          nan,  52.9032    ,  36.4698    ,
        15.618     ,  60.2028    ,  11.2645    , 101.1216    ,
        75.5657    ,  14.892     ,  88.1328    ,  36.118     ,
        28.9914    ,  27.4415    ,  56.716     ,  69.0049    ,
        69.6268    ,  27.3543    ,  44.7782    ,  26.2988    ,
       201.86950919,  39.2366    ,  33.632     ,  83.6965    ,
        28.2443    , 280.87730155,  64.7971    ,  24.2608    ,
        58.8121    ,  20.7765    ,  57.28      ,  61.5552    ,
        54.1018    ,  35.0164    ,  40.9225    ,  60.0471    ,
        62.7785    ,  20.791     ,  57.0482    ,  42.9921    ,
        85.884     ,  29.4758    ,  30.9982    ,  64.0553    ,
        44.844     ,  44.1197    ,  20.1596    , 104.1764    ,
        57.0766    ,  98.3796    ,  41.9343    ,  72.2695    ,
        99.8989    ,  10.2366    ,  32.342     ,  37.1504    ,
        78.715     ,  29.8609    ,  59.181     ,  47.3148    ,
        69.6575    , 320.95866358,  61.4595    ,  68.3748    ,
        71.2142    ,  33.8442    ,  65.084     ,  69.5281    ,
        23.5462    ,  11.3358    ,  92.8432    ,  36.4388    ,
        61.8883    , 104.2421    ,  18.8626    ,  45.385     ,
        16.9284    ,  94.2463    ,  87.6076    ,  42.8661    ,
        11.2613    ,  45.8161    ,  42.9949    ,  76.2217    ,
        57.9476    ,  59.7613    ,  55.3948    ,  29.4658    ,
        40.4165    ,  63.5611    , 105.9418    ,  60.077     ,
        33.0286    ,  27.865     ,  40.65      ,  29.645     ,
        25.7527    ,  62.4923    ,  53.9332    ,  58.7766    ,
        73.4155    ,  31.99      ,  34.3067    ,  66.2817    ,
       233.00828521, 274.5350868 ,  37.3559    ,  99.8038    ,
        29.532     ,  30.446     , 106.0042    ,  63.4323    ,
        19.9744    ,  62.8678    ,  52.7821    ,  82.0828    ,
        63.0611    ,  51.6275    ,  25.4826    ,  48.024     ,
        90.5124    ,  98.6948    ,  22.7182    ,  76.2085    ,
        53.056     ,  22.5446    ,  14.935     ,  50.696     ,
        85.6182    ,  30.942     ,  75.2204    ,  73.587     ,
        22.8766    ,  67.2293    , 110.2544    , 327.21766546,
        44.7092    ,  39.4624    ,  28.5862    ,  27.4942    ,
        76.4286    ,  54.1556    ,  29.4228    ,  40.0207    ,
        36.4958    ,  35.3572    ,  14.6127    ,  52.5934    ,
        63.866     ,  39.5698    ,  59.9287    ,  52.6453    ,
        20.3819    ,  76.6192    ,  35.0028    ,  57.7533    ,
        40.8518    ,  66.566     ,  30.318     ,  87.6519    ,
        51.9016    ,  19.6645    ,  48.7802    ,  86.1412    ,
        12.5567    ,  54.6218    ,  19.2643    ,  31.3891    ,
        33.1785    ,  62.895     ,  15.0994    ,  31.8296    ,
        39.4174    ,  96.939     ,  66.5363    ,  29.5606    ,
        51.2721    ,  63.5224    ,  37.086     ,  44.7548    ,
        23.4957    ,  19.145     ,  76.1018    ,  79.7004    ,
        60.3866    ,  58.257     ,  59.7113    ,  89.0764    ,
        77.189     ,  95.1969    ,  54.6348    , 102.8806    ,
        51.4584    ,  28.4048    ,  53.2857    ,  45.5308    ,
        12.2396    ,  44.9557    ,   9.8005    ,  59.9604    ,
        31.3844    ,  44.1375    ,  40.8394    ,  66.1016    ,
        25.662     ,  86.2272    ,  58.9648    ,  72.8683    ,
        70.5816    ,  63.9534    ,  17.1476    ,  43.9748    ,
        69.9337    , 328.87176914,  58.9584    ,  23.0728    ,
        71.4247    ,  59.828     ,  39.066     ,  62.982     ,
        53.2792    ,  18.7636    ,  94.105     ,  55.7198    ,
         6.4729    ,  35.8539    ,  31.341     ,  65.587     ,
        44.733     ,  88.1462    ,  41.6946    ,  23.3132    ,
       118.0321    ,  41.2036    ,  41.2217    , 105.144     ,
        57.5512    ,  29.0991    ,  41.5138    ,  48.4081    ,
        21.4931    ,  32.415     ,  77.5496    ,  92.6832    ,
        70.2411    ,  74.5744    ,  19.3694    ,  35.4798    ,
       107.7025    ,  91.8308    , 206.6995697 , 276.84059674,
        29.5584    ,  41.4292    ,  91.2296    ,  79.6245    ,
        50.5038    ,  96.546     ,  54.4414    , 117.7468    ,
        39.538     ,  55.9143    ,  36.0458    ,  46.274     ,
        16.6464    ,  82.3678    ,  63.1719    , 329.91300394,
        33.4311    ,  69.4707    ,  41.699     ,   8.9203    ,
        56.0596    ,  54.4946    ,  33.7491    ,  34.2597    ,
        87.2987    ,  26.9202    ,  29.0925    ,  21.7323    ,
        16.1211    ,  25.6218    , 325.09894981,  70.5144    ,
        57.791     ,  99.5104    ,  65.9299    ,  65.1668    ,
        45.782     ,  19.1962    ,  45.2531    ,  13.9136    ,
        19.9412    ,  96.3487    ,  68.6544    ,  53.5767    ,
        34.726     ,  43.8894    ,  53.1349    ,  38.8144    ,
        42.0962    ,  79.2381    ,  74.5998    ,  38.0988    ,
        71.3962    ,  84.4676    ,  64.7324    ,  37.4586    ,
        23.105     ,  48.027     ,  41.544     ,  22.4347    ,
        44.6007    ,  28.5966    ,   8.7296    ,  71.095     ,
        81.3986    , 248.29520891,  19.973     ,  73.5818    ,
        49.4676    ,  12.9998    ,  46.7471    ,  45.8975    ,
        58.5727    ,  86.8977    ,  32.1514    ,  38.3875    ,
        23.9563    ,  48.4142    , 108.9734    ,  69.9494    ,
        38.1392    ,  23.7068    ,  41.6562    ,  13.4484    ,
        31.4168    , 100.2662    ,  59.8754    ,  23.1614    ,
        81.8518    ,  57.915     ,  46.9988    ,  66.9071    ,
        64.0787    ,  66.1816    ,  54.4368    ,  38.0619    ,
        16.834     ,  58.6618    ,   6.1269    ,  51.3965    ,
        41.8347    ,  45.7545    ,  27.6353    ,  43.8236    ,
        16.5256    ,  88.1071    ,  20.3458    ,  22.4883    ,
        48.0066    ,  37.1212    ,  76.9996    ,  87.8962    ,
       116.4206    ,  31.609     ,  37.0004    ,  40.9764    ,
        58.6974    ,  68.9135    ,  73.215     ,  89.472     ,
        62.0444    ,  27.174     ,  97.7908    ,  94.3478    ,
        44.6222    ,  97.5766    ,  24.4754    ,  60.7045    ,
        36.7152    , 102.7246    ,  26.1176    ,  68.4404    ,
        32.155     , 101.2576    ,  44.6954    , 206.50865197,
       123.928     ,  74.8463    ,  30.698     ,  35.0564    ,
        31.8132    ,  45.1203    ,  51.031     ,  59.475     ,
        64.5434    , 101.5506    ,  31.0915    ,  19.8829    ,
        51.0291    ,  19.2572    ,  34.4608    ,  80.181     ,
        39.9065    ,  34.5311    ,  31.7102    ,  40.2799    ,
        46.8086    ,  27.8795    ,  28.7693    ,  58.825     ,
        13.0646    , 106.2963    ,  59.1773    ,  19.5819    ,
        26.6477    , 109.4796    ,  79.246     ,  34.5791    ,
        69.9955    ,  97.4848    ,  70.745     ,  77.5684    ,
        55.053     ,  83.694     ,  49.7657    ,  31.7717    ,
        35.4031    ,  33.5331    ,  43.0697    ,  34.2628    ,
        83.7848    ,  22.1476    ,  29.9658    ,  27.9315    ,
        55.8212    ,  84.2323    ,  49.36      ,  72.6627    ,
        26.9741    ,  46.4647    ,  57.4261    ,  41.7194    ,
        68.6348    ,  14.6611    ,  96.2845    ,  12.1141    ,
        61.094     ,  55.1892    ,  72.969     ,  29.7551    ,
        86.5536    , 114.9417    ,  35.0854    ,  45.6194    ,
       322.72599609,  78.8508    ,  70.7341    ,  56.3456    ,
        79.833     ,  27.1606    ,  54.4237    ,  80.8112    ,
        60.9462    ,  59.0736    ,  36.0271    ,  25.1968    ,
        23.6949    ,  52.9083    ,  42.6209    ,  52.2336    ,
        46.1779    ,  61.1936    ,  88.6814    ,  66.581     ,
        47.996     ,  45.2879    ,  97.2125    ,  63.615     ,
        25.5304    ,  78.744     ,  37.17      ,  68.4308    ,
        40.9716    ,  48.4496    ,  54.4139    ,  53.0315    ,
        39.9195    ,  20.0527    ,  13.9334    ,  24.0367    ,
        63.3579    ,  57.153     ,  52.9882    ,  54.1983    ,
        84.873     , 124.2416    ,  84.1558    ,  73.8635    ,
        45.2346    ,  46.6175    ,  34.3543    ,  45.3123    ,
        56.6149    ,  75.927     ,  80.7619    , 296.08869731,
        55.7598    ,  73.2164    ,  97.7525    ,  46.1526    ,
        64.9824    ,  54.1212    ,  29.9765    ,  94.6379    ,
        44.5307    ,  35.284     ,  40.3595    ,  79.637     ,
        25.3115    ,  32.0088    ,  29.2693    ,  77.4795    ,
        62.8904    ,  66.6318    ,  71.5568    ,  61.2568    ,
        53.8901    ,  88.9502    ,  47.3268    ,  40.163     ,
        11.5061    ,  83.6299    ,  72.2196    , 109.8965    ,
        38.2552    ,  60.3264    ,  15.1029    ,  46.316     ,
        52.678     ,  24.4816    ,  45.5584    ,  37.7718    ,
        23.279     ,  61.2287    ,  72.9188    ,  52.6406    ,
        46.4367    ,  77.8741    ,  56.7461    ,  46.4968    ,
       101.9914    ,  59.3324    ,  36.9301    ,  95.2278    ,
        40.2186    ,  36.6701    ,  65.6944    ,  17.6621    ,
        35.6928    ,  58.9867    , 247.5983179 ,  41.3072    ,
        32.9075    ,  68.9296    ,  38.3486    ,  58.0861    ,
        69.1938    ,  86.3292    ,  66.1224    ,  12.6264    ,
        43.0058    ,  26.1117    ,  38.4475    ,  63.93      ,
        32.7178    ,  22.8002    ,  17.1693    ,  29.778     ,
        13.3746    ,  48.1365    ,  61.5494    ,  79.7146    ,
        43.6034    ,  93.1014    ,  72.9137    ,  29.0553    ,
        69.9316    , 102.4302    , 332.04368868,  37.39      ,
        84.3528    ,  87.5241    ,  44.4294    ,  30.5768    ,
        38.9965    ,  88.8816    ,  39.1976    ,  25.8856    ,
        72.356     ,  44.2055    ,  50.2412    ,  49.7873    ,
        31.2318    ,  44.6322    ,  48.1175    ,  73.0726    ,
        43.9909    ,  44.507     ,  34.5781    ,  25.3938    ,
        62.8       ,  60.315     ,  78.7809    ,  62.6715    ,
        56.2678    ,  61.871     ,  54.7066    ,  33.344     ,
        48.3843    ,  62.7544    , 101.0292    ,  32.9855    ,
        17.9592    ,  65.9698    ,  45.1726    ,  65.195     ,
        85.4652    ,  69.9148    ,  72.1607    ,  36.4212    ,
        41.0143    ,  33.2317    ,  38.9635    ,  24.6913    ,
        22.1172    ,  29.2945    , 129.5356    ,   9.9494    ,
        50.789     ,  30.4015    ,  69.1972    ,  74.2598    ,
        50.7312    ,  58.0149    ,  44.101     ,  26.076     ,
        20.3509    , 102.3316    ,  60.0264    ,  71.6404    ,
        62.4379    ,  20.9951    ,  86.3545    ,  41.4372    ,
        75.7144    ,  32.5735    ,  62.7959    ,  32.2622    ,
        40.8036    ,  46.5931    ,  46.6132    ,  78.5578    ,
        46.2939    ,  58.5929    ,  53.04      ,  20.2324    ,
        61.8896    ,  23.9803    ,  51.6226    ,  46.2078    ,
        26.9585    ,  58.2448    ,  38.769     ,  71.7971    ,
        67.2451    ,  70.6464    ,  26.263     ,  46.1432    ,
        19.2698    ,  83.375     ,  80.7792    , 104.1555    ,
        39.1789    ,  78.9521    , 101.6666    ,  25.8142    ,
        14.8186    ,  54.9343    ,  81.9816    , 122.418     ,
        28.7235    ,  47.8469    ,  41.9406    ,  19.1069    ,
        57.5336    ,  69.7245    ,  57.1264    ,  34.4316    ,
        72.8562    ,  35.3812    ,  84.7232    ,  40.5665    ,
        62.2353    ,  63.0548    ,  38.6058    ,  59.886     ,
        29.9606    ,  70.2933    ,  43.8544    , 283.64520059,
        50.8979    ,  73.5544    ,  20.0083    , 128.6549    ,
        34.952     ,  36.1464    ,  75.4875    ,  28.6304    ,
        31.4354    , 108.2325    ,  57.3952    ,  28.1643    ,
        55.86      ,  32.2063    ,  51.2833    ,  22.5469    ,
        49.3168    ,  59.0718    ,  32.1634    ,  60.926     ,
        19.0904    ,  96.7288    ,  23.3579    ,  31.306     ,
        77.0499    ,  36.5375    ,  25.9025    ,  44.5344    ,
        66.039     ,  49.852     ,  64.2861    ,  75.2729    ,
        53.3479    ,  33.2741    ,  45.4312    , 100.305     ,
        64.7316    ,  33.4215    ,  95.9602    ,  47.177     ,
        47.4882    ,  30.5797    ,  53.9468    ,  52.7796    ,
       138.6425    ,  74.5843    , 239.17140733,  53.5509    ,
        77.4039    ,  43.8543    ,  25.4565    ,  68.9614    ,
        72.553     ,  26.2692    ,  76.4647    ,  90.7801    ,
        68.5285    ,  48.835     ,  21.6555    , 109.4304    ,
        67.3902    ,  20.2751    ,  66.8568    ,  46.9056    ,
        60.7394    ,  64.8642    ,  53.16      ,  43.224     ,
        62.0624    ,  43.3123    ,  45.6902    ,  38.4514    ,
        50.0745    ,  22.0141    ,  87.7201    ,  33.3599    ,
        45.5132    ,  52.0972    ,  62.1095    ,  45.9582    ,
        78.1988    ,  42.1098    ,  39.4645    ,  49.1871    ,
       224.91466286,  65.9479    ,  53.4536    ,  68.2181    ,
        41.3681    ,  61.9923    ,  36.2571    ,  90.4747    ,
        19.4986    ,  69.336     ,  47.375     ,  76.737     ,
        66.9097    ,  99.0039    ,  13.9727    ,  30.0888    ,
        62.6572    ,  72.1308    ,  15.5675    ,  43.8625    ,
        30.371     ,  57.0497    ,  40.174     ,  25.095     ,
        90.8983    ,  45.8598    ,  47.8069    ,  51.0588    ,
        40.2564    ,  59.7421    ,  32.2544    ,  57.0755    ,
        70.8329    , 102.885     ,  48.2843    ,  28.7716    ,
        76.5803    ,   8.6709    ,  16.1592    ,  65.2064    ,
        50.9961    ,  43.0228    ,  22.7573    ,  19.9427    ,
        36.0978    ,  32.4282    ,  32.1352    ,  78.188     ,
        45.2855    ,  78.6478    ,  37.2489    ,  28.0701    ,
        94.5643    ,  43.1998    ,  65.232     ,  56.3682    ,
        11.597     ,  16.9168    , 101.8744    ,  32.7396    ,
        12.7333    ,  35.964     ,  26.4327    ,  38.9591    ,
        50.1179    ,  31.6941    ,  51.1318    ,  67.736     ,
        51.03      ,  22.3206    ,  48.1275    ,  59.8622    ,
        54.3684    ,  44.7904    ,  45.9215    ,  34.3764    ,
        48.2267    ,  52.9872    ,  54.7666    ,  26.1975    ,
        55.3432    ,  64.7223    ,  52.9218    ,  46.639     ,
        25.4386    ,  19.7235    ,  80.7576    ,  62.9006    ,
        39.275     ,  29.3753    ,  63.7777    ,  54.6715    ,
        42.398     ,  28.1281    ,  38.035     ,  29.9812    ,
        10.4444    ,  47.33      ,  29.0627    ,  22.2951    ,
        38.8456    ,  76.4865    ,  25.1652    ,   9.8718    ,
        53.726     ,  81.572     ,  73.3691    ,  41.0174    ,
        65.0136    ,  55.5074    ,  20.2164    ,  75.0365    ,
        93.5096    ,  47.6252    ,  58.6555    ,  33.183     ,
        48.8108    ,  46.3014    ,  49.1156    ,  39.4771    ,
        48.0134    ,  49.5082    ,  69.749     ,  45.0304    ,
        97.1094    ,  59.2055    ,  59.683     ,  33.7362    ,
        73.0708    ,  48.4454    , 100.5938    ,  24.4491    ,
        56.6885    ,  59.6075    ,  42.4232    ,  62.7976    ,
        46.0189    ,  23.1248    ,  38.6747    ,  46.6313    ,
        53.6582    ,  85.5747    ,  73.3549    ,  44.8859    ,
        54.6247    ,  24.6973    ,  82.442     ,  56.6394    ,
        30.7837    ,  55.3348    ,  51.8548    ,  34.4049    ,
        62.1295    ,  33.1236    ,  61.209     ,  45.4437    ])

In [10]:
df["Trip_Price"].value_counts()

Trip_Price
36.2624    1
52.9032    1
36.4698    1
15.6180    1
60.2028    1
          ..
34.4049    1
62.1295    1
33.1236    1
61.2090    1
45.4437    1
Name: count, Length: 951, dtype: int64

### plot weather in 3 bins and organize fare average into each

In [11]:
df_weather = df["Weather"].value_counts().sum
df_weather

<bound method Series.sum of Weather
Clear    667
Rain     227
Snow      56
Name: count, dtype: int64>

In [12]:
mean_price = df.groupby("Weather")["Trip_Price"].mean()
mean_price

Weather
Clear    55.809128
Rain     59.769260
Snow     57.815842
Name: Trip_Price, dtype: float64

In [13]:
import pandas as pd
import matplotlib.pyplot as plt